.consultation {
	padding: 100px 0 100px 0;
	min-height: 680px;
	background: url("../img/bg2.jpeg") center (center/cover) no-repeat;
	&__descr {
		color: rgb(255, 255, 255);
		font-size: 20px;
		margin-top: 9px;
		font-weight: 500;
		line-height: 30px;
		text-align: left;
	}
}
